body {
    background: #fff;
    margin: 0;
    font-family: monospace;
}
h1 {
    text-align: center;
    color: rgba(28, 20, 20, 0.8);
    background: rgba(117, 115, 109, 0.2);
}
.gallery__container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 10px;
}

.gallery__item {
    position: relative;
}

.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img__title {
    position: absolute;
    bottom: 0;
    color: #fff;
    width: 100%;
    background: linear-gradient(rgba(255,255,255,.2),rgba(0,0,0,.3));
}

.gallery__item:nth-child(1){
    grid-row-start: span 2;
}
.gallery__item:nth-child(8){
    grid-column-start: span 2;
}
.gallery__item:nth-child(7){
    grid-column-start: span 2;
}
.hola{ 
    background-color: red;
}
.contenedo__modal .derecha,.contenedo__modal .izquierda  {
    position: absolute;
    color:#fff;
    background-color: #6769a6;
    font-size: 3rem;
    line-height: 0;
    top: 50%;
    border: none;
    outline:none;
    border-radius: 50%;
    z-index: 999;
    width: 30px;
    height: 30px;
    transition: all .5s;
}
.contenedo__modal .derecha,.contenedo__modal .izquierda:hover {
    opacity: 75%;
}

.flecha {
    display: none;
}
.derecha {
    right: 5px;
}
.izquierda {
    left: 5px;
}
.contenedo__modal img {
    width: 100%;
    z-index: 9;
}
.zoom {
    display: block;
    width: 70vh;
    height: 50vh;
    position: fixed;
    margin: auto;
    right: 0;
    left: 0;
    top: 0;    
    bottom: 0;
    z-index: 8; 
    cursor: pointer;
}

@media screen and (min-width: 768px){
    .gallery__container {
        grid-template-columns: repeat(4,1fr);
        
    }
    .gallery__item:nth-child(1){
        grid-row-start: span 2;
    }
    .gallery__item:nth-child(9){
        grid-row-start: span 2;
    }
    .gallery__item:nth-child(8){
        grid-row-start: span 2;
    }
    .gallery__item:nth-child(7){
        grid-column-start: span 1;
        grid-row-start: span 1;
    }
    .gallery__item:nth-child(6){
        grid-row-start: span 3;
    }
    
}
font {
    z-index: -1;
    width: 100%;
}
.izquierda a {
    z-index: 1000;
}